extends default

block content

  include nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Crear producto'

      div(class='form-nuevoproductofirebase')
        form(class=['ui', 'form'] action='/' method='put')
          .ui.field
            label(for='username') Username
            input(type='text', name='username', value='')
          .ui.field
            label(for='salario') Salario
            input(type='text', name='salario', value='')
          .ui.field
            label(for='salario_sin_descuento') Salario Sin Descuento
            input(type='text', name='salario_sin_descuento', value='') 
          .ui.field
            label(for='descuento_renta') Descuento de Renta
            input(type='text', name='descuento_renta', value='') 
          .ui.field
            label(for='descuento_iss') Descuento ISS
            input(type='text', name='descuento_iss', value='')
          .ui.field
            label(for='descuento_afp') Descuento AFP
            input(type='text', name='descuento_afp', value='')
          .ui.input
            input#boton-enviar-producto-firebase(type='submit', name='', value='Añadir Nuevo Salario')