div(class=['ui','eleven', 'wide', 'menu', 'item'])
  .ui.dropdown.simple.item.menu.right
      | Menú
      i.dropdown.simple.icon
      .menu.simple.dropdown
        center
          a(class='item' href='/')= 'Inicio'
          a(class='item' href='/salario')= 'Api de Salarios'
          a(class='item' href='/salarioform')= 'Agregar un Salario'